
@{
    ViewBag.Title = "Messages";
}
<div class="container-fluid">
    <h3 style="color:deeppink">Messages</h3>
    <div class="list-group">
        @foreach (var item in ViewBag.Messages)
        {
            <button type="button" class="list-group-item">
                <h5>FROM: @item.FromCouple - @item.Title</h5>
                <p>@item.Message</p>
                <p>@item.Created</p>
                <p>@Html.ActionLink("Respond", "Respond", "Message", new { id = @item.FromCouple }, null)
                 - 
                @Html.ActionLink("Delete", "Delete", "Message", new { id = @item.Id }, null)</p>
            </button>
        }
    </div>
    <p><a href="javascript:history.back()">Back</a></p>
</div>